svg.poi .circle {
  stroke-width: 5;
  stroke: black;
}
svg.poi.coords-poi .circle {
  fill: #98FB98;
  stroke: #2E8B57;
}
svg.poi.user-poi .circle {
  fill: #FF6347;
  stroke: #B32322;
}
svg.poi.global-poi .circle {
  fill: #1E90FF;
  stroke: #0909FF;
}
svg.poi.zombie-poi .circle {
  fill: #FF0000;
  stroke: #FFFF00;
}
svg.poi {
  width: 30px;
  height:30px;
  cursor: pointer;
}
svg.poi.zombie-poi {
  width: 10px;
  height:10px;
  cursor: pointer;
}
